<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.volkswagen.nps.dataexchange" />

	<bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<!-- <property name="brokerURL" value="vm://myBroker" /> -->
		<property name="brokerURL" value="tcp://localhost:61610" />
	</bean>

	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		init-method="start" destroy-method="stop">
		<property name="maxConnections" value="8" />
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>

	<bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
		<property name="connectionFactory" ref="pooledConnectionFactory" />
		<property name="concurrentConsumers" value="10" />
	</bean>

	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
		<property name="configuration" ref="jmsConfig" />
	</bean>

	<camel:errorHandler id="loggingErrorHandler" type="LoggingErrorHandler"
		logName="producer.logger" level="ERROR" />

	<camelContext xmlns="http://camel.apache.org/schema/spring"
		errorHandlerRef="loggingErrorHandler" allowUseOriginalMessage="false">

		<route id="fileImport">
			<from uri="file://data/?move=.done&amp;moveFailed=.error" />
			<split>
				<tokenize token="\n" />
				<convertBodyTo type="java.lang.String" />
				<to uri="log:echo?level=DEBUG" />
				<to uri="activemq:queue:fileContent" />
			</split>
		</route>
	</camelContext>
</beans>